{% extends 'base_layout.html' %}

{% block content %}

<div class="blogpage">
    <div class="heading">
        <h2 id="blogtitle">{{blogpost.title}}</h2>
    </div>
    <div class="blogcontent">
        <p id="blogbody">{{blogpost.body}}</p>
        <p id="blogdate">
            Authored by 
            <a href="{% url 'profile' blogpost.author.id %}" class="author-name">
                {{blogpost.author}}
            </a>
            on {{blogpost.date}}</p>
    </div>
    <div class="index-btns">
        <form action="{% url 'updateblog' blogpost.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Update Blog">
        </form>
        <form action="{% url 'deleteblog' blogpost.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Delete">
        </form>
    </div>
</div>
{% endblock %}